body {
    background-color: var(--background-color);
    color: rgb(49, 75, 92);
    font-family: Arial, sans-serif, Helvetica, sans-serif;
    margin: center;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

h1 {
    color: rgb(49, 75, 92);
    font-size: 40px;
    /* background-color: rgb(191, 231, 236); */
    padding-top: 40px;
    padding-bottom: 20px;
}

h2 {
    color: rgb(49, 75, 92);
    font-size: 20px;
}

h3 {
    color: rgb(49, 75, 92);
    font-size: 14px;
}

p {
    font-size: 16px;
}

:root {
    --primary-color: #D8F2DC;
    --secondary-color: #D6D9C1;
    --background-color: #f2f2f2;
    --cell-color: #c1d9d1;
    --border-color: #D6D9C1;
    --hover-color: #8C8B77;
    --flagged-color: #ffcccc;
    --mine-color: #ff9999;
}

.restart {
    background-color: var(--cell-color);
    width: 50px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    border-radius: 7px;
    box-shadow: 0 0 2px rgba(80, 90, 97, 0.816);
    border: none;
}

.level-container {
    margin: auto;
    background-color: var(--primary-color);
    padding: 20px;
}

button:not(.restart) {
    background-color: var(--cell-color);

    min-width: 130px;
    min-height: 30px;
    margin: 10px auto;

    text-align: center;
    border-radius: 25px;
    border: none;
}

button:hover {
    background-color: var(--hover-color);
    ;
    transition: 0.4s;
}

table {
    margin: 20px auto;
    grid: 30px;
}

td {
    background-color: var(--cell-color);
    width: 30px;
    height: 30px;
    border: 1px solid var(--hover-color);
    border-radius: 2px;
}

.game-board {
    margin: 20px auto;
    background-color: var(--background-color);
    padding: 10px;
    gap: 2px;
    box-shadow: 0 0 10px rgba(62, 108, 129, 0.445);
}

.game-board button {
    /*specific styles for Minesweeper buttons */
    width: 30px;
    height: 30px;
    border: 1px solid var(--hover-color);
    text-align: center;
    vertical-align: middle;
}

.game-board button:hover {
    /* specific hover effect for Minesweeper buttons */
    background-color: var(--hover-color);
    transition: 0.4s;
}

.game-board td {
    background-color: var(--cell-color);
    width: 30px;
    height: 30px;
    /* border: 1px solid var(--hover-color); */
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(62, 108, 129, 0.233);
}


button {
    width: 30px;
    height: 30px;
    border: 1px solid var(--cell-color);
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 10px rgba(62, 108, 129, 0.445);
}

.shown-cell {
    background-color: #c2f7eb;
}

.cell.isShown.isMine {
    background-color: red;
    color: white;
}

.cell.isFlagged {
    font-weight: bold;
    color: #5c0000;
}

.timer {
    background-color: var(--primary-color);
    padding: 5px;
    margin: 5px auto;
    width: 200px;
    height: 60px;
    border-radius: 8px;
}

.minesleft {
    background-color: var(--primary-color);
    padding: 5px;
    margin: 5px auto;
    width: 200px;
    height: 60px;
    border-radius: 8px;
}

.footer {
    background-color: #aae2e2;

}

.life-container {
    background-color: var(--primary-color);
    padding: 5px;
    margin: 5px auto;
    width: 200px;
    height: 30px;
    border-radius: 8px;
}

img {
    max-width: 30px;
}