body {
    background-color: var(--background-color);
    width: 750px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset;
    border-radius: 8px;
    padding: 10px;

    margin: auto;
    margin-top: 20px;
    color: var(--text-color);
    font-family: Arial, sans-serif, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;

}

h1 {
    font-size: 4em;
    padding: 20px;
    border-radius: 16px;
    color: var(--background-color);
    text-shadow: 2px 2px 4px #b0b0b0;
}


h2,
h3 {
    color: var(--text-color);
}

p {
    font-size: 14px;
}

:root {
    --primary-color: #D8F2DC;
    --secondary-color: #D6D9C1;
    --background-color: #f2f2f2;
    --cell-color: #ffffff;
    --border-color: #d4e8f4;
    --hover-color: #daeee6;
    --flagged-color: #bfe9fd;
    --mine-color: #ffd699;
    --text-color: rgb(49, 75, 92);
}

.restart {
    background-color: var(--cell-color);
    width: 40px;
    height: 40px;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.level-container {
    margin: 20px auto;
    background-color: var(--background-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset;
    border-radius: 8px;
    width: 650px;
    padding: 10px;
    align-items: center;
    display: flex;
}

button:not(.restart) {
    background: var(--background-color);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
    color: var(--text-color);
    min-width: 130px;
    min-height: 30px;
    overflow: hidden;
    padding: 1.2rem 2rem;
    position: relative;
    text-transform: uppercase;
    transition: 0.2s;
    margin: 10px auto;
    text-align: center;
    display: block;
    width: fit-content;
    cursor: pointer;
}

button:hover {
    background-color: var(--cell-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
    transition: 0.4s;
}

table {
    margin: 20px auto;
    grid: 30px;
}

td {
    background-color: var(--cell-color);
    width: 20px;
    height: 20px;
    border: 1px solid var(--hover-color);
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
}

.game-board {
    height: 350px;
    border-radius: 8px;
    width: 650px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: var(--background-color);
    gap: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
}

.game-board td:hover {
    background-color: var(--hover-color);
    transition: 0.4s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
}

.game-board td {
    -webkit-tap-highlight-color: transparent;
    /* -webkit-appearance: button; */
    line-height: 1.5;
    background-color: var(--cell-color);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(62, 108, 129, 0.233);
}

button {
    width: 30px;
    height: 30px;
    border: 1px solid var(--cell-color);
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 10px rgba(62, 108, 129, 0.445);
    cursor: pointer;
}

td.shown-cell {
    background-color: var(--border-color);
}

td.cell-isShown-isMine {
    background-color: var(--mine-color);
    color: white;
}

td.cell-isFlagged {
    background: var(--flagged-color);
}

.container {
    background-color: var(--background-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
    border-radius: 8px;
    width: 650px;
    margin: auto;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timer,
.minesleft,
.life {
    background-color: var(--background-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
    padding-bottom: 3px;
    padding: 3px;
    margin: 15px auto;
    width: 100px;
    height: 80px;
    border-radius: 8px;
    text-align: center;
}

img {
    max-width: 15px;
    max-height: 15px;
}

.footer {
    background-color: var(--background-color);
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 0.8) inset;
}